@import "tailwindcss" source("../");

/* @plugin "@tailwindcss/typography"; */

@theme {
  --color-primary: oklch(0.55 0.1155 141.35);
  --color-secondary: oklch(0.39 0.1449 24.88);

  --color-dark: oklch(0.13 0.0148 141.35);
  --color-light: oklch(0.97 0.0173 141.35);

  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Open Sans", sans-serif;
}
